{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"complexity": [2, 16],
		"max-depth": [2, 5],
		"max-statements": [2, 29],
		"no-continue": [1],
		"spaced-comment": [1, "always", { "markers": ["*"] }]
	}
}
